<!-- HEADER -->
<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img th:src="@{~/img/7th-logo.png}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/catalog}" method="get">
                            <select name="category" class="input-select">
                                <th:block th:each="category, iStat : ${@categories}">
                                    <option name="category" th:value="${iStat.index}"
                                            th:text="#{'category.' + __${category}__}">Category</option>
                                </th:block>
                                <option name="category" value="" th:text="#{category.ANY}">Category</option>
                            </select>
                            <input type="text" name="query" class="input" placeholder="Search here">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div sec:authorize="isAuthenticated()">
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                <span><i th:text="#{header.wishlist}" th:remove="tag"></i></span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div>
                            <a id="cart" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span th:text="#{header.cart}"></span>
                                <div id="cart-qty" class="qty" th:if="${session.cart != null && session.cart.products.size() > 0}" th:text="${session.cart?.products.size()}">0</div>
                            </a>
                        </div>
                        <!-- Cart -->



                        <!-- Account -->
                        <div>
                            <a href="/account">
                                <i class="fa fa-user"></i>
                                <span><i th:text="#{header.account}" th:remove="tag"></i></span>
                            </a>
                        </div>
                        <!-- Account -->
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->