<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="/" th:text="#{navigation.home}">Home</a></li>
                <th:block th:each="category, iStat : ${@categories}">
                    <li><a th:href="@{/catalog?category=__${iStat.index}__}" th:text="#{category.__${category}__}">Hot Deals</a></li>
                </th:block>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->