<div th:fragment="frag (image,twovar)">
    <!-- product widget -->
    <div class="product-widget">
        <div class="product-img">
            <img src="${image}" alt="">
        </div>
        <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00
                <del class="product-old-price">$990.00</del>
            </h4>
        </div>
    </div>
    <!-- product widget -->
</div>